extends layout

block content
  p Welcome to #{title}
  form#uploadForm(ref='uploadForm', action='/upload', method='post', enctype='multipart/form-data')
        input(type='file', name='sampleFile')
        input(type='submit', value='Upload!')